{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{'Accounts'}}{% endblock %}</h1>
{% endblock %}

{% block toolbar %}
    <div class="mb-2">
        <a role="button" class="btn btn-outline-dark" href="{{ url_for('banking.account', action='add') }}">Add new</a>
    </div>
{% endblock %}

{% block content %}

    {% if accounts == [] %}
        <h1>Add bank accounts</h1>
    {% else %}
        <div class="container-fluid">
            {% for account in accounts %}
            <div class="border row mt-2">
                <div class="bg-dark pl-2 container-fluid">
                    <h4 class="text-light">{{account['bank_name']}}</h4>
                </div>

                <div class="container-fluid">
                    <p><strong>Reference:</strong> {{account['bank_reference']}}</p>
                    <p><strong>Currency Code:</strong><span class="text-uppercase"> {{account['bank_currency_code']}}</span></p>
                    <p><strong>Balance:</strong> {{account['bank_balance']}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}