{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{'Accounts'}}{% endblock %}</h1>
{% endblock %}

{% block toolbar %}
    <div class="mb-2">
        <a role="button" class="btn btn-outline-dark" href="{{ url_for('banking.account', action='add') }}">Add new</a>
    </div>
{% endblock %}

{% block content %}

    <table class="table table-sm table-striped">
        <tr class="thead-light">
            <th>Name</th>
            <th>Account Number / IBAN</th>
            <th>Currency Code</th>
            <th class="text-right pr-3">Current Balance</th>
            <th>Status</th>
            <th></th>
        </tr>

        {% if accounts == [] %}
        <tr>
            <td colspan="6">Add bank accounts</td>
        </tr>
        {% endif %}

        {% for account in accounts %}
        <tr>
            <td><a href="{{ url_for('banking.account', action='edit', bank_id=account['bank_id'])}}">{{ account['bank_name'] }}</td>
            <td>{{ account['bank_reference'] }}</td>
            <td class="text-uppercase">{{ account['bank_currency_code'] }}</td>
            <td class="text-right pr-3">{{ account['bank_balance'] }}</td>
            <td>
                <a class="pl-0 dropdown-item" href="">
                    {% if account['bank_enabled_flag'] == 1 %}
                    <span class="badge badge-success">Active</span>
                    {% else %}
                    <span class="badge badge-danger">Disabled</span>
                    {% endif %}
                </a>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-dark dropdown-toggle" id="{{account['bank_id']}}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    select action</button>
                    <div class="dropdown-menu" aria-labelledby="{{account['bank_id']}}">
                        <a class="dropdown-item" href="{{ url_for('banking.account', action='edit', bank_id=account['bank_id'])}}">Edit Account</a>
                        <a class="dropdown-item" href="{{ url_for('banking.transaction', action='add', bank_id=account['bank_id'])}}">Add Entry</a>
                        <a class="dropdown-item" href="">Change Status</a>
                    </div>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}