{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}
            {{action}} Bank Account
        {% endblock %}
    </h1>
{% endblock %}

{% block content %}

    <div class="container-fluid row">
        <div class="p-5 mx-auto">
            
            <form method="post">
                <div class="form-group row">
                    <label for="bank_name" class="col-4 col-form-label">Account Name</label>
                    <div class="col-8">
                        <input name="bank_name" class="form-control" type="text" value="{{ account['bank_name'] }}" id="bank_name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="bank_enabled_flag" class="col-4 col-form-label">Account Enabled</label>
                    <div class="col-8">
                        <input id="bank_enabled_flag" name="bank_enabled_flag"  value="1" class="form-control" type="checkbox" {% if account['bank_enabled_flag'] == 1 %}checked{% endif %}>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="bank_reference" class="col-4 col-form-label">Account Reference</label>
                    <div class="col-8">
                        <input name="bank_reference" class="form-control" type="text" placeholder="sort-account" value="{{ account['bank_reference'] }}" id="bank_reference">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="open_balance" class="col-4 col-form-label">Opening Balance</label>
                    <div class="col-8">
                        <input name="open_balance" class="form-control" type="number" id="open_balance" step="0.01" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="open_date" class="col-4 col-form-label">Opening Date</label>
                    <div class="col-8">
                        <input name="open_date" class="form-control" type="date" id="open_date" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="bank_currency_code" class="col-4 col-form-label">Currency Code</label>
                    <div class="col-8">
                        <select name="bank_currency_code" class="form-control" id="bank_currency_code">
                            <option value="gbp" selected>GBP</option>
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <input
                        type="submit"
                        class="col btn btn-primary mt-3"
                        value="{% if action == 'create' %}
                                Create Bank Account
                               {% else %}
                                Edit Bank Account
                               {% endif %}">
                </div>

            </form>
        </div>
    </div>

{% endblock %}