{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add new organisation{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid row">
        <div class="p-5 mx-auto">
            
            <form method="post">
                <div class="form-group row">
                    <label for="org_name" class="col-4 col-form-label">Organisation Name</label>
                    <div class="col-8">
                        <input name="org_name" class="form-control" type="text" id="org_name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="org_enabled_flag" class="col-4 col-form-label">Organisation Enabled</label>
                    <div class="col-8">
                        <input name="org_enabled_flag" value="1" class="form-control" type="checkbox" checked>
                    </div>
                </div>

                <div class="form-group row">
                    <input type="submit" class="col btn btn-primary mt-3" value="Create Organisation">
                </div>

            </form>
        </div>
    </div>

{% endblock %}