{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{'Accounts'}}{% endblock %}</h1>
{% endblock %}

{% block toolbar %}
    <div class="mb-2">
        <a role="button" class="btn btn-outline-dark" href="{{ url_for('banking.account', action='add') }}">Add new</a>
    </div>
{% endblock %}

{% block content %}

    {% if accounts == [] %}
        <h1>Add bank accounts</h1>
    {% else %}
        {% for account in accounts %}
        <div class="border row mt-2">
            <div class="col">
                <div class="bg-dark p-2 row justify-content-between">
                    <h4 class="text-light">{{account['bank_name']}}</h4>
                    <div>
                        <a class="btn btn-light" href="{{ url_for('banking.account', action='edit', bank_id=account['bank_id'])}}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ul class="unstyled-list">
                            <li class="row">
                                <strong class="col">Reference:</strong>
                                <span class="col">{{account['bank_reference']}}</span>
                            </li>

                            <li class="row">
                                <strong class="col">Currency Code:</strong>
                                <span class="col text-uppercase">{{account['bank_currency_code']}}</span>
                            </li>

                            <li class="row">
                                <strong class="col">Balance:</strong>
                                <span class="col">{{account['bank_balance']}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    {% endif %}

{% endblock %}