{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{'Accounts'}}{% endblock %}</h1>
{% endblock %}

{% block toolbar %}
    <div class="mb-2">
        <a role="button" class="btn btn-outline-dark" href="{{ url_for('accounts.create_account') }}">Create Account</a>
    </div>
{% endblock %}

{% block content %}

    {% if accounts == [] %}
        <h1>Add bank accounts</h1>
    {% else %}
        {% for account in accounts %}
            <div class="card shadow mt-5 {% if account['bank_balance'] < 0 %} border-danger {% endif %}">
                <div class="card-header bg-dark text-light d-flex justify-content-between">
                    <h2 class="card-title mb-0">{{account['bank_name']}}</h2>
                    <a class="btn btn-light" href="{{ url_for('accounts.account', bank_id=account['bank_id'])}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>

                <div class="card-body">
                    <ul class="unstyled-list">
                        <li class="row">
                            <strong class="col">Reference:</strong>
                            <span class="col">{{account['bank_reference']}}</span>
                        </li>

                        <li class="row">
                            <strong class="col">Currency Code:</strong>
                            <span class="col text-uppercase">{{account['bank_currency_code']}}</span>
                        </li>

                        <li class="row">
                            <strong class="col">Balance:</strong>
                            <span class="col">{{account['bank_balance']}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}