{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="container-fluid col-lg-8">
        <div class="p-5 mx-auto">
            <form method="post">

                <h2>Appearence</h2>
                <div class="form-group row">
                    <label for="settings_theme" class="col-4 col-form-label">Theme</label>
                    <div class="col-8">
                        <select name="settings_theme" class="form-control text-capitalize" id="settings_theme">
                            <option value="">Default</option>
                            {% for theme in ['cerulean', 'cosmo', 'cyborg', 'darkly', 'flatly', 'journal', 'minty', 'simplex', 'yeti'] %}
                            <option
                                value="{{theme}}.css"
                                class="text-capitalize"
                                {% if theme == settings['settings_theme'][:-4] %}
                                selected
                                {% endif %}
                            >
                                {{theme}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <input
                        type="submit"
                        class="col btn btn-primary mt-3"
                        value="Save Settings">
                </div>

            </form>
        </div>
    </div>

{% endblock %}