{% extends 'base.html' %}

{% block header %}
    <h1 class="text-capitalize">
        {% block title %}
            {{action}} Bank Transaction
        {% endblock %}
    </h1>
{% endblock %}

{% block content %}

    <div class="container-fluid col-lg-8">
        <div class="p-5 mx-auto">
            
            <form method="post">

                <div class="form-group row">
                    <label for="bank_id" class="col-md-4 col-form-label">Account</label>
                    <div class="col-md-8">
                        <select name="bank_id" class="form-control" id="bank_id">
                            {% for account in accounts %}
                            <option value="{{ account['bank_id'] }}">{{ account['bank_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="trans_date" class="col-md col-form-label">Transaction Date</label>
                    <div class="col-md-8">
                        <input name="trans_date" class="form-control" type="date" id="trans_date" value="">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="trans_desc" class="col-md-4 col-form-label">Description</label>
                    <div class="col-md-8">
                        <input id="trans_desc" name="trans_desc" value="" class="form-control" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="cat_id" class="col-md-4 col-form-label">Category</label>
                    <div class="col-md-8">
                        <select name="cat_id" class="form-control" id="cat_id">
                            {% for cat in categories %}
                            <option value="{{ cat['category_id'] }}">{{ cat['category_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sign" class="col-md-4 col-form-label">Spend / Receive</label>
                    <div class="col-md-8">
                        <select name="sign" class="form-control" id="sign">
                            <option value="1">Receive</option>
                            <option value="-1">Spend</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="trans_value_net" class="col-md-4 col-form-label">Net Value</label>
                    <div class="col-md-8">
                        <input id="trans_value_net" name="trans_value_net" value="" class="form-control" type="number" step="0.01" min="0.01">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="trans_value_vat" class="col-md-4 col-form-label">Vat Value</label>
                    <div class="col-md-8">
                        <input id="trans_value_vat" name="trans_value_vat" value="0.00" class="form-control" type="number" step="0.01" min="0.00">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="cat_id" class="col-md-4 col-form-label">Vat Code</label>
                    <div class="col-md-8">
                        <select name="vat_type_id_fk" class="form-control" id="vat_id">
                            {% for rate in vat_codes %}
                            <option value="{{ rate['vat_type_id'] }}">
                                <span class="col">{{ rate['vat_type_name'] }}</span>
                                <span class="col text-right">{{ "{0:.0%}".format( rate['vat_type_rate'] )}}</span>
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <input
                            type="submit"
                            class="col btn btn-primary mt-3 text-capitalize"
                            value="{{ action }}"
                    >
                </div>

            </form>
        </div>
    </div>

{% endblock %}