{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}About Hermes Accounting{% endblock %}</h1>
{% endblock %}

{% block toolbar %}

{% endblock %}

{% block content %}
    <p>Hermes Accounting was writting by me, <a href="https://tlg-accounting.co.uk">Tom Lee-Gough</a>, a CIMA qualified Accountant. I've been writing Hermes since September 2018. This is a long term goal of writing my own accounting software. </p>

    <p>Hermes is written in <a href="https://palletsprojects.com/p/flask/">Flask</p> and <a href="https://getbootstrap.com/">Bootstrap</a>. It was written using <a href="https://www.jetbrains.com/pycharm/">PyCharm</a>, a Python IDE. At the time of writing, Hermes is hosted on <a href="https://www.digitalocean.com/">Digital Ocean</a></p>

    <p>Hermes is free to use, and I offer no guarantees of any kind. Any use of Hermes is at the user's own risk. This may change at some point in the future, however, for now you cannot rely on this software. I cannot stress this enough. I will not accept <b>ANY</b> liability for use of the software.</p>

    <p>It would be great to make Hermes open source. Some older code can be found on github (<a href="https://github.com/tomleegough/hermes">https://github.com/tomleegough/hermes</a>). At the moment, I'm working on making the latest code available on github.</p>

    <h2>Development Roadmap</h2>

    <ul>
        <li>Making Tax Digital</li>
        <li>Companies House Integration</li>
        <li>Month End Management</li>
        <li>Full Nominal, Sales, and Purchase Ledgers</li>
    </ul>

{% endblock %}