{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Hermes Accounting Help{% endblock %}</h1>
{% endblock %}

{% block toolbar %}

{% endblock %}

{% block content %}
    <p>Hermes Accounting is not yet advanced enough to use in a production environment. In lieu of a proper userguide or documentation, here is some guidance.</p>

    <p>To get started:</p>

    <ol>
        <li>Add an organisation and select it</li>
        <li>Create some categories. Categories work like a simplified chart of accounts</li>
        <li>Create some bank accounts</li>
        <li>Add some transactions</li>
    </ol>

    <p>Selecting a new organisation will re-orientate the whole Hermes application around that organisation. Categories do not align or sync across organisations. </p>

{% endblock %}